<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cashtoutiao.statistic.manager.bean.AdminUser">
	
	<sql id="allColumns">
		id as userId,
		username,
		password
	</sql>
	
	<select id="getUserInfoByName" resultType="com.cashtoutiao.statistic.manager.bean.AdminUser">
		select <include refid="allColumns"/> from statistic_admin_user where username = #{userName} and password = #{password}
	</select>
	
	<select id="getUserListPage"  resultType="com.cashtoutiao.statistic.manager.bean.AdminUser">
		select <include refid="allColumns"/> from statistic_admin_user order by id limit #{offset}, #{pageSize}
	</select>
	
	<select id="getTotalCount" resultType="int">
		select count(id) from statistic_admin_user
	</select>
</mapper>
